@media screen and (max-width:992px) {

    .page {
        display: flex;flex-direction: column-reverse;
        
    }
    .catalog {
        width:100% ;
    } 
    .photo {
        width: 50%;
    }

    .form {
        width: 100%;
        position: relative;
        transform: translateX(10%);
        font-size: 20px;
    }



}
@media  screen and (max-width:576px)  {
    .info {
        flex-direction: column;
        
    }
    .navigation {
        display: flex;
        flex-direction: column;
    }
    
        
    
    .photo {
        width: 100%;
    }
    footer {
        flex-direction:column ;
    }
    .form {
        transform: translate(20%);
        font-size: 10px;
    }

    
}